.sun {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffd318;
  left: calc(50% - 150px);
}
.wrap{
  position: absolute;
  /* left: 10%; */
  top: 200px;
  width: 100%;
  height: 300px;
  text-align: center;
  font-family: cursive;


}
.sky{
  background-color: #18e1be;
  border-radius: 10%;
  width: 100%;
  height: 200px;
}
button{
  left: 50%;
}
